# exclude everything
*
/rofi/rofi-spotlight

# except for these

# i3
!/i3/
!/i3/*
!/i3/config
!/i3/scripts/
!/i3/scripts/*
# neovim
!/nvim/
!/nvim/*
!/nvim/lua/
!/nvim/lua/base/
!/nvim/lua/base/*
!/nvim/after/plugin/
!/nvim/after/plugin/*
/nvim/dev
/nvim/.gitignore
# rofi
!/rofi/
!/rofi/*
# kitty
!/kitty/
!/kitty/*
# gh
!/gh/
!/gh/config.yml
# dunst
!/dunst/
!/dunst/*
# fehbg
!/fehbg/
!/fehbg/*
!/fehbg/images/
!/fehbg/images/*
# neo fetch
!/neofetch/
!/neofetch/*
# picom
# maybe look into doint /picom/picom.conf instead
!picom.conf

!README.md
!.gitignore
